
/* Universal ----------------------------------------------------------*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.background_image {
    background-color: black;
    opacity: 0.1;
    height: auto;
    width: 80%;
}

.recipes {
    padding:20px;
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
    background-size: cover;
    height: auto;
    width: 90%;
    margin-bottom: 40px;

}

header {
    background-image: url("https://images.unsplash.com/photo-1471113082645-fde63c139087?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1138&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    text-align: justify;
    color: white;
    position: relative;
}

nav .brand-logo {
    padding-left: 30px;
}

nav {
    background-color: transparent!important;
}

.sidenav {
    width: 100%;
    text-align: center;
    background-color: #FACD3D;
}

.sidenav li>a {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin: 20px;
    text-align: left
}

.category_title {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 3rem;
}

.light_text {
    font-weight: 200;
    font-size: 0.8rem;
    font-family: 'Nunito', sans-serif;
}

.bold_text {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    height: 80px;
}

.standard_text {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 5.5rem;
    letter-spacing: 0.4rem;
    font-size: 5rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-bottom: 30px;
}

.btn {
    margin: 10px;
}

/* recipes.html ------------------------------------------------*/

.recipe-content {
    max-height: 220px;
}

.card .card-image img {
    height: 210px;
}

.info {
    width: 100%;
    background-color: white;
    height: 200px;
}

.info .col {
    padding: 0!important;
}

.box {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.box_text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 5px 15px;
    text-transform: uppercase;
}

.box_icons {
    text-align: center;
}

/* add recipe.html ---------------------------------------*/

.add_recipe {
    background-color: white;
}


/* reviews -----------------------------------------------*/

.reviews .card-title {
    height: 80px;
}

.review .card-content {
    height: 300px;
}

.reviews .card-action {
    margin-top: 10px;
}

.review {
    margin-top: 50px;
    width: 90%;
}


/* media queries -----------------------------------------*/

@media only screen and (max-width: 1200px) {

    .bold_text {
        font-size: 1rem;
        height: 60px;
    }
    .card .card-image img {
        height: 180px;
    }

    .standard_text {
        margin-bottom: 10px;
    }

    .banner {
        height: 400px;
    }

    .box_text {
        line-height: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media only screen and (max-width: 992px) {

    .standard_text {
        margin-bottom: auto;
        height: auto;
    }

    .banner {
        height: 250px;
    }

    .box {
        height: 170px;
    }

    .info {
        height: 150px;
    }

}

@media only screen and (max-width: 600px) {

    .card .card-image img {
        height: 220px;
    }

    .recipes {
        padding: 5px;
        margin-top: 20px;
    }

    .bold_text {
        font-size: 1.5rem;
        height: auto;
    }

    .category_title {
        text-align: center;
    }

    .card-title {
        background-color: black;
        opacity: .7;
        width: 100%;
        text-align: center;
    }
    
    .reviews .card-title {
        background-color: inherit;
        opacity: none;
        text-align: left;
    }

    .card .card-image .card-title {
        padding: 10px;
    }

    .content_info {
        display: none;
    }

    #title {
        color: white;
    }

}
