<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | Let's get cooking</title>
</head>

<body>

</body>

</html>

{% extends 'base.html' %} {% block content %}

<div class="container review">
  <div class="row">
    {% for review in reviews|sort (attribute='review_date')|reverse %}
    <div class="col s12 m6 l6">
      <div class="card teal lighten-5 reviews">
        <div class="card-content black-text">
          <h4>{{review.review_name}}</h4>
          <span class="card-title">"{{review.review_notes}}"</span>
          <p>Reviewer: {{review.review_author}}</p>
          <p>{{review.review_date}}</p>
          <div class="card-action #ffffff white black-text">
            {% if review.review_rating == '1' %}
            <i class="material-icons">star</i>
            {% elif review.review_rating == '2' %}
            <i class="material-icons">star</i><span><i class="material-icons">star</i></span>
            {% elif review.review_rating == '3' %}
            <i class="material-icons">star</i><span><i class="material-icons">star</i><i class="material-icons">star</i></span>
            {% elif review.review_rating == '4' %}
            <i class="material-icons">star</i><span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span>
            {% else %}
            <i class="material-icons">star</i><span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></span>
            {% endif %}
            
          </div>
        </div>
        <div class="container buttons"> 
          <a href="{{ url_for('delete_review', review_id=review._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
        </button>
    </div> 
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}